/* 
    Created on : 7/11/2018, 01:54:38 PM
    Author     : DesarrolloPc
*/
.col12{width: 100%;}
.col11{width: 91.67%;}
.col10{width: 83.33%;}
.col9{width: 75%;}
.col8{width: 66.67%;}
.col7{width: 58.33%;}
.col6{width: 50%;}
.col6_label{width: 50%;text-align: right;}
.col5{width: 41.67%;}
.col5_label{width: 41.67%;text-align: right;}
.col4{width: 33.33%;}
.col4_label{width: 33.33%;text-align: right;}
.col3{width: 25%;}
.col3_label{width: 25%;text-align: right;}
.col2{width: 16.67%;}
.col2_label{width: 16.67%;text-align: right;}
.col1{width: 8.33%;}
.col1_label{width: 8.33%;text-align: right;}

/*para tablas*/
.colCenter{text-align: center;}
.colNumero{text-align: right;}

.centered {
    position: absolute;
    height: 100px;
    top: 0;
    bottom: 0;
    margin:auto;
}

.topbar-badge {
    display: inline-block;
    right: -6px;
    top: 3px;
    z-index: 2;
    background: #f18e00;
    color: #fff;
    padding: 1px 4px 1px 4px;
    margin-left: 2px;
    border-radius: 2px;
}

.layout-main{
    margin: auto;
    max-width: 1260px;
}